.Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3.125rem;
  border: 0.313rem solid #ffffff6e; 
}
.mainContainer{
  display: flex;
  flex-direction: column;
}
.Me--Image{
  margin: 1.25rem;
  width: 20%;
  height: 20%;
  max-height: 12.5rem;
  max-width: 12.5rem;                          
  border-radius: 50%;       
  border: 0.313rem solid #ffffff6e; 
  object-fit: cover; 
}
.coordinates{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  color: #FFFFFF;
}

.coordinates>li{
  margin: 0.625rem;
}
.Adress::before{
  content:url(./assets/Images/location.png);
  margin-right: 0.625rem;
}
.Email::before{
  content:url(./assets/Images/mail.png);
  margin-right: 0.625rem;
}
.Phone::before{
  content:url(./assets/Images/phone-call.png);
  margin-right: 0.625rem;
}
.SocialsContainer{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  border: 5px solid #ffffff6e; 
}
.Socials{
  list-style-type: none;
}
.Socials>li{
  font-size: 1.25rem;
}
.linkedin::before{
  content: url(./assets/Images/linkedin.png);
  margin-right: 0.625rem;
}
.instagram::before{
  content: url(./assets/Images/instagram.png);
  margin-right: 0.625rem;
}
.facebook::before{
  content: url(./assets/Images/facebook.png);
  margin-right: 0.625rem;
}
.whatsapp::before{
  content: url(./assets/Images/whatsapp.png);
  margin-right: 0.625rem;
}
.resume{
  padding-bottom: 1rem;
}
.footer{
  bottom: 0;
  text-align: center;
}