.Container{
  display: grid;
  place-items: center;
  margin: 50px;
  border: 5px solid #ffffff6e; 
}
.Me--Image{
  margin: 20px;
  width: 200px;             
  height: 200px;             
  border-radius: 50%;       
  border: 5px solid #ffffff6e; 
  object-fit: cover; 
}
.coordinates{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: #FFFFFF;
}

.coordinates>li{
  margin: 10px;
}
.Adress::before{
  content:url(./assets/Images/location.png);
  margin-right: 10px;
}
.Email::before{
  content:url(./assets/Images/mail.png);
  margin-right: 10px;
}
.Phone::before{
  content:url(./assets/Images/phone-call.png);
  margin-right: 10px;
}
.SocialsContainer{
  width: 15rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  border: 5px solid #ffffff6e; 
}
.Socials{
  list-style-type: none;
}
.Socials>li{
  font-size: 20px;
}
.linkedin::before{
  content: url(./assets/Images/linkedin.png);
  margin-right: 10px;
}
.instagram::before{
  content: url(./assets/Images/instagram.png);
  margin-right: 10px;
}
.facebook::before{
  content: url(./assets/Images/facebook.png);
  margin-right: 10px;
}
.whatsapp::before{
  content: url(./assets/Images/whatsapp.png);
  margin-right: 10px;
}
.resume{
  padding-bottom: 1rem;
}
.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}